<?xml version="1.0" encoding="UTF-8" ?>
<web-app>
    <display-name>Biblioteca</display-name>

    <context-param>
        <description>Ruta donde guardar las imagenes</description>
        <param-name>image-path</param-name>
        <param-value>/home/astable/apache-tomcat-9.0.86/webapps/parque_pictures</param-value>
    </context-param>
</web-app>